
#card > img{
    height: 300px;
    width: 200px;
}

html {
    background:url(images/table.jpeg);
}


.more {
    background-color: teal;
    margin-right: 87%;
    padding: 40px;
    font-size: 25px;
}