
#card > img{
    height: 300px;
    width: 200px;
}

html {
    background:url(images/table.jpeg);
}


.more {
    background-color: teal;
    margin-right: 89.5%;
    padding: 40px;
    font-size: 30px;
}

.STOP {
    background-color: rgb(160, 0, 0);
    margin-right: 89.5%;
    padding: 40px;
    font-size: 30px;
}

.restart {
    background-color: rgb(216, 219, 10);
    margin-right: 89.5%;
    padding: 40px;
    font-size: 30px;
}
.cards {
    margin-right: 89.5%;

}


